@page "/"
@using BlazorStrap
@inject IAnimalsService animalService

<BSRow>
    <BSCol>
        <div class="accordion">
            <BSCollapseGroup>
                @foreach (var animal in animalService.GetAll())
                {
                <BSCollapseItem @key="@animal.Name">
                    <BSCollapseToggle IsLink="true"><h3>@animal.Name</h3></BSCollapseToggle>
                    <BSCollapse>
                        <BSDropdown>
                            <BSDropdownToggle>Real age (in years)</BSDropdownToggle>
                            <BSDropdownMenu>
                                @foreach (var agePair in animal.HumansToAnimalAgeMap)
                                {
                                    <BSDropdownItem>@agePair.Key</BSDropdownItem>
                                }
                            </BSDropdownMenu>
                        </BSDropdown>
                    </BSCollapse>
                </BSCollapseItem>
                }
            </BSCollapseGroup>
        </div>
    </BSCol>
</BSRow>
