@using BlazorStrap

<BSContainer>
    <BSRow>
        <BSCol>
            <footer>
                <span class="text-muted" style="display: table; margin: 0 auto;">All right reserved</span>
            </footer>
        </BSCol>
    </BSRow>
</BSContainer>