@using BlazorStrap

<BSRow>
    <BSCol>
        <BSJumbotron Class="text-center">
            <h1>C'est quoi l'age de mon animal en années humaines ?</h1>
            <p>Cliquer sur un animal en bas, enter son age et vos aller avoir son équivalent en années humaines </p>
        </BSJumbotron>
    </BSCol>
</BSRow>
